name: CI

on:
    push:
        branches: [main, stable]
    pull_request:
        branches: [main, stable]

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"
            - name: Install Poetry
              run: pip install poetry
            - name: Install dependencies
              run: poetry install
            - name: Run pylint
              run: poetry run pylint src
            - name: Run typecheck
              run: poetry run mypy src
            - name: Run unit tests
              run: poetry run coverage run --branch -m pytest
            - name: Coverage report
              run: poetry run coverage xml
            - name: Coverage report to Codecov
              run: bash <(curl -s https://codecov.io/bash)
